$header-background: #59fff7;
$app-background: #b6fff9;
$remove-btn-background: rgba(253, 79, 79, 0.8);
$remove-btn-background-hover: rgba(255, 57, 57, 1);
$page-font: "Calibri Light", serif;

body {
  margin: 0;
  font-family: $page-font;
  min-height: 100vh;
  background-color: $app-background;
}

.page-header {
  background-color: $header-background;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  height: 4rem;
  
  h2 {
    width: 90%;
    margin: auto;
    text-shadow: 5px 5px 4px #648288;
  }
  #new-item-btn {
    margin: auto 0.3rem;
    width: 120px;
    height: 3rem;
    border: 2px solid rgba(87, 87, 87, 0.48);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    font-family: $page-font;
  }
  #new-item-btn:hover {
    background-color: rgba(128, 128, 128, 0.15);
  }
}

.form-container{
  position: fixed;
  text-align: center;
  background-color: white;
  padding: 0.5rem;
  display: none;
  border-radius: 10px;
  form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    input {
      margin: 2px;
      font-family: $page-font;
    }
    select {
      font-family: $page-font;
    }
    h4 {
      margin-top: -0.4rem;
      margin-bottom: 0.5rem;
    }
  }
  button {
    margin: 0.2rem;
    font-family: $page-font;
  }
}

.form-container-project{
  right: 17rem;
  top: 0.5rem;
}

.form-container-item{
  right: 2rem;
  top: 4.15rem;
}

.app {
  display: flex;
  flex-direction: row;
  background-color: $app-background;
  .sidebar-container {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    margin: 0.7rem;
    height: max-content;
    li {
      list-style: none;
      height: 2rem;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      p{
        width: 50%;
        text-align: center;
      }
      span {
        border: 2px solid $header-background;
        background-color: $app-background;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        text-align: center;
      }
    }
    li:hover:not(#projects-listitem) {
      font-weight: bold;
      text-shadow: 2px 2px 4px #818181;
    }
    #projects-listitem {
      cursor: default;
    }
  }
  .todo-container {
    width: 100%;
    .note-element {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 1rem;
      border-radius: 10px;  
    }
    .note-element-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h4 {
        text-align: center;
        width: 30%;
      }
      button {
        margin: 1rem;
        border-radius: 15px;
        border: 2px solid rgba(0, 0, 0, 0.18);
        background-color: $app-background;
        font-family: $page-font;
      }
      button:hover {
        background-color: rgba(128, 128, 128, 0.29);
      }
      
    }
    .note-element-extra {
      text-align: center;
      border-top: 2px solid $header-background;
      box-shadow: 0px 0 10px rgba(0,0,0,0.3);      
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin: 1rem;
        background-color: $remove-btn-background;
        color: white;
        border: none;
        border-radius: 15px;
        font-family: $page-font;
      }
      button:hover {
        background-color: $remove-btn-background-hover;
      }
      p{
        width: 30%;
        text-align: center;
        margin: 0.2rem;
      }
    }
    #Low {
      border: 2px solid green;
    }
    #Medium {
        border: 2px solid orange;
    }
    #High {
      border: 2px solid red;
    }
  }
}
