@model toDoModel

@{
    var ProjectList = Model.ProjectList;
    
}


@foreach (ProjectModel project in ProjectList)
{
    <li class="project-item" onclick="actionSwitchProjects('@project.ProjectName')">
        <p id="project-name">@project.ProjectName</p>
        <span id="project-count" >@project.toDoList.Count</span>
    </li>
}
